.nav-button{
  margin-right: 4px;
}
.nav-button:hover {
  background-color: var(--ant-primary-color-hover) !important;
  color: white !important;
}

.nav-button:focus,
.nav-button:active{
  background-color: var(--ant-primary-color-active);
  color: white;
}

.nav-avatar {
  background-color: var(--ant-primary-color);
  margin-right: 4px;
}

.divider {
  background-color: black;
}
