.nav-button{}
.nav-button:hover {
  background-color: var(--ant-primary-color-hover) !important;
  color: white !important;
}

.nav-button:focus {
  background-color: var(--ant-primary-color-active);
  color: white;
}

.nav-avatar {
  background-color: var(--ant-primary-color);
}

.divider {
  background-color: black;
}
