@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --ant-primary-color: #002c8c;
  --ant-primary-color-hover: #0958d9;
  --ant-primary-color-active: #002c8c;
  --ant-primary-color-outline: #001d66;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

main {
  background-color: #f5f5f5;
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 32px;
}

body {
  /*color: rgb(var(--foreground-rgb));*/
  /*background: linear-gradient(*/
  /*    to bottom,*/
  /*    transparent,*/
  /*    rgb(var(--background-end-rgb))*/
  /*  )*/
  /*  rgb(var(--background-start-rgb));*/
  background-color: #f5f5f5;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  line-height: 38px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

h5 {
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* button style */
.ant-btn-primary,
.ant-btn-primary:focus{
  background-color: var(--ant-primary-color);
  border-color: var(--ant-primary-color);
}
.ant-btn-primary:hover {
  background-color: var(--ant-primary-color-hover) !important;
  border-color: var(--ant-primary-color-hover) !important;
}
.ant-btn-primary:active {
  background-color: var(--ant-primary-color-active);
  border-color: var(--ant-primary-color-active);
}
.ant-btn-primary.ant-btn-background-ghost {
  color: var(--ant-primary-color);
  border-color: var(--ant-primary-color);
}
.ant-btn-primary.ant-btn-background-ghost:hover,
.ant-btn-primary.ant-btn-background-ghost:focus {
  color: var(--ant-primary-color-hover);
  border-color: var(--ant-primary-color-hover);
}
.ant-btn-primary.ant-btn-background-ghost:active {
  color: var(--ant-primary-color-active);
  border-color: var(--ant-primary-color-active);
}
.ant-badge-status-processing {
  background-color: var(--ant-primary-color);
}
.ant-btn-default:hover{
  border-color: var(--ant-primary-color-hover) !important;
  color: var(--ant-primary-color-hover) !important;
}
.ant-btn-default:focus{
  border-color: var(--ant-primary-color-active) !important;
  color: var(--ant-primary-color-active) !important;
}


/* Tab style */
.ant-tabs-tab {}
.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: var(--ant-primary-color) !important;
}
.ant-tabs-tab:hover .ant-tabs-tab-btn{
  color: var(--ant-primary-color-hover) !important;
}
.ant-tabs-ink-bar{
  background-color: var(--ant-primary-color) !important;
}

/* Input style */
.ant-input-outlined:hover {
  border-color: var(--ant-primary-color-hover);
}
.ant-input-outlined:focus-within {
  border-color: var(--ant-primary-color-outline) ;
}

/* Table style */
.ant-pagination-item-active {
  border-color: var(--ant-primary-color-active) !important;
}
.ant-pagination-item-active a {
  color: var(--ant-primary-color-active) !important;
}
.anticon-double-right{
  color: var(--ant-primary-color) !important;
}
.ant-select-selector:hover{
  border-color: var(--ant-primary-color-hover) !important;
}
.ant-select-selector:focus-within{
  border-color: var(--ant-primary-color-active) !important;
}
.ant-table-row-expand-icon:hover{
  color: var(--ant-primary-color-hover) !important;
  border-color: var(--ant-primary-color-hover) !important;
}
.ant-table-row-expand-icon:focus-within {
  color: var(--ant-primary-color-active) !important;
  border-color: var(--ant-primary-color-active) !important;
}

/* model style */
.ant-modal-mask{
  background-color: rgba(0, 0, 0, 0.08) !important;
}
.ant-modal-body{
  margin-top: 32px;
  margin-bottom: 32px;
}
.ant-modal-content{
  padding-left: 48px !important;
  padding-right: 48px !important;
}

/* radio button style */
.ant-radio-checked .ant-radio-inner {
  background-color: var(--ant-primary-color) !important;
  border-color: var(--ant-primary-color) !important;
}